@import '../../utils/utils.scss';

.recommandations {
    width: 30rem;
    background-color: white;

    .rec-item:not(:last-child) {
        border-bottom: solid 1px #eee;
    }
    .rec-item {
        padding: 1.3rem 2rem;
        cursor: pointer;

        &:hover {
            background-color: #f5f8fa;
        }
        
        h4 {
            font-weight: 600;
            font-size: 1.45rem;
        }
        h6 {
            font-size: 1.2rem;
        }
        a {
            text-decoration: none;
        }
        label {
            color: $maincolor;
            font-size: 1rem;
            margin-bottom: 0 !important;
        }
    }
}