@import '../../utils/utils.scss';

.publications-section {
    margin-top: 3rem;
    margin-bottom: 10rem;

    .container {
        background-color: white;
        padding: 7rem 6rem;
        border-radius: 8px;

        @media only screen and (max-width:900px) {
            padding: 5rem 2rem;
        }
    }
}

.gallery-row {
    border-top: solid 1px #eee;
}

.gallery-item {
    &:not(:first-child) {
        padding-top: 3rem;
        margin-top: 4.5rem;
        border-top: solid 1px #eee;
    }

    

    .header {
        margin-bottom: 1rem;
        svg {
            margin-right: 1rem;
        }
        h5 {
            margin-bottom: 0 !important;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .body {
        
        
    }
}

.publications-section-banner {
    padding: 5rem 0;
    background: linear-gradient(to bottom, rgba($maincolor,0.85), rgba($maincolor,0.85)), url('./../../../assets/images/im.jpg');
    background-position: center;
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }
}