@import '../../utils/utils.scss';

.bannerwrapper {
    background: linear-gradient(to bottom, rgba($maincolor,0.94), rgba($maincolor,0.94)), url("./../../../assets/images/bg2.jpg"), ;
    background-size: 100%;
    background-repeat: no-repeat;

    .banner {
        h1 > b {
            color: white !important;
            font-size: 3rem;
            @media only screen and (max-width: 900px) {
                font-size: 2rem;
                text-align: center !important;
            }
        }
        a {
            font-size: 1.8rem;
            padding-left: 2rem;
            padding-right: 2rem;

            @media only screen and (max-width: 900px) {
                font-size: 1.4rem;
                padding-left: 1rem;
                padding-right: 1rem;
                text-align: center !important;
            }

            &:hover {
                color: $maincolor !important;
                border-color: $maincolor !important;
            }
        }
    }
}

.supplier-view-page {

    .banner {
        img {
            width: 30rem;
            height: 30rem;
        }
        .supplierdemand {
            color: white !important;
        }
    }
}